.Gaminform{
    /* width: 50%; */
    width: 70%;
    align-items: center;
    padding-top: 50px;
    background-color: white;
    padding: 20px 20px;
    margin-top: 30px;
    }
    .Gformcontent h4{
        color: rgba(37, 5, 47);
        text-align: center;
        padding: 10px 0px;
        font-weight: bolder;
        font-size: 1.9rem;
    }
    .Gformcontent input {
        padding: 15px 10px ;
        margin-bottom: 5px;
        outline: none;
        border: 1px solid  rgba(37, 5, 47, 0.61);
    }
    .Gformcontent textarea{
        resize: none;
        padding: 10px;
        outline: none;
        border: 1px solid  rgba(37, 5, 47, 0.61);
        
    }
    input::placeholder{
    
        color: rgba(37, 5, 47);
    } 
    
    textarea::placeholder{
        color: rgba(37, 5, 47);
    }